.pos-navbar-logo {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.pos-saver-logo {
    height: 25%;
    max-width: 100%;
    object-fit: contain;
}

.pos-loader-logo {
    width: 220px;
    margin-bottom: 24px;
}
